* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    padding-top: 2%;
    font-size: 2rem;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.contact-form, .contact {
    width :45%;   
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact {
    height: 60vh; /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > iframe {
    width: 100%;
    height: 100%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

