/* Media Queries for responsiveness */
/* Home Responsevnes */

/* Hero Section */
@media screen and (max-width: 768px) {
    .Hero-Section {
        width: 90%;
    }

    .Hero-Section .Row {
        flex-direction: column;
    }

    .text-colum,
    .hero {
        width: 100%;
    }

    #Ellipse {
        display: none;
    }

    .Hero-Section .content h1 {
        font-size: 2rem;
    }

    .Hero-Section .content>p,
    .Hero-Section .content>button {
        font-size: 0.9rem;
    }
}

/* first Secition */
@media screen and (max-width: 958px) {
    .first-Section .Row .text-colum {
        width: 50%;
        margin-left: 1%;
    }

    .first-Section .Row .vedio-colum {
        margin-left: 2%;
    }
}

@media screen and (max-width: 800px) {
    .first-Section {
        height: 130vh;
        margin-top: 15%;
    }

    .first-Section .Row .text-colum,
    .first-Section .Row .vedio-colum {
        width: 90%;
        margin-left: 5%;
    }
}

/* Second Section */
@media (max-width: 768px) {

    .Second-Section .paragraph,
    .Second-Section>p {
        width: 95%;
        text-align: center;
    }

}

@media (max-width: 470px) {
    .Second-Section>h3 {
        font-size: 35px;
    }
}

/* ThirdSection */
@media screen and (max-width:968px) {
    .Third-Section {
        height: 110vh !important;
    }
}

@media screen and (max-width:868px) {
    .Third-Section {
        height: 160vh !important;
    }

    .Third-Section .flex {
        flex-direction: column;
    }

    .Third-Section .flex .Busines-help {
        width: 100%;
    }

    .Third-Section .flex .Animation {
        width: 100% !important;
        height: 100%;
    }
}

/* FourSection */
@media screen and (max-width:1026px) {
    .cards {
        width: 100% !important;
    }

    .SectionFour .cards .card .text-content>h4 {
        font-size: 18px;
    }

    .SectionFour .cards .card .text-content>p {
        font-size: 14px;
    }
}

@media screen and (max-width:926px) {
    .card {
        width: 97% !important;
    }
}

@media screen and (max-width:786px) {
    .SectionFour {
        height: 100%;
    }

    .SectionFour .cards {
        flex-direction: column !important;
    }

    .SectionFour .cards .card>.img>img {
        margin: 5% 0 0 25% !important;
    }
}

@media screen and (max-width:396px) {
    .cards {
        width: 95% !important;
    }

    .SectionFour .cards .card>.img>img {
        margin: -9% 0 0 25% !important;
    }
}

/* LastSectioin */
@media screen and (max-width:1068px) {
    .Last-MiniSection .developer>button {
        left: 18%;
    }
}

@media screen and (max-width:876px) {
    .Last-MiniSection .developer>button {
        left: 14%;
    }
}

@media screen and (max-width:756px) {
    .Last-MiniSection .developer>button {
        top: 35%;
        left: 10%;
    }
}

@media screen and (max-width:686px) {
    .Last-MiniSection .text-heading {
        padding: 50px;
    }

    .Last-MiniSection .developer>img {
        margin: 8% 0 0 30%;
    }

    .Last-MiniSection .developer>button {
        left: 4%;
    }
}

@media screen and (max-width:686px) {
    .Last-MiniSection .developer>img {
        margin: 8% 0 0 10%;
    }

    .Last-MiniSection .developer>button {
        left: -10%;
    }
}

@media screen and (max-width:686px) {
    .Last-MiniSection {
        flex-direction: column;
        height: auto;
    }

    .Last-MiniSection .text-heading {
        width: 100%;
        padding: 40px;
    }

    .Last-MiniSection .developer {
        width: 100%;
        height: 20vh;
    }

    .Last-MiniSection .developer>img {
        width: 17%;
        height: 100%;
        margin: -5% 0 0 40%;
    }

    .Last-MiniSection .developer>button {
        left: 33%;
        top: 15%;
        padding: 5px 10px;
    }
}

@media screen and (max-width:486px) {
    .Last-MiniSection .developer>button {
        left: 27%;
        top: 18%;
    }
}

@media screen and (max-width:386px) {
    .Last-MiniSection .developer>img {
        display: none;
    }

    .Last-MiniSection .developer>button {
        left: 15%;
    }
}

/* Home End */
/* About */
@media screen and (max-width: 450px) {
    .first-Section {
      height: 170vh;
    }
    
    .first-Section .Row .text-colum,
    .first-Section .Row .vedio-colum {
      margin-top: 15%;
    }
  }



@media (max-width: 992px) {
    .Service-Container .swiper .swiper-wrapper .swiper-slide {
        width: 55% !important;
    }

}

@media (max-width: 768px) {
    .Service-Container {
        margin-top: 35% !important;
    }

    .Service-Container .swiper .swiper-wrapper .swiper-slide {
        width: 70% !important;
        height: 100%;
    }
}

@media (max-width: 576px) {
    .Service-Container .swiper .swiper-wrapper .swiper-slide {
        width: 90% !important;
    }
}

@media (max-width: 576px) {
    .Service-Container .swiper .swiper-wrapper .swiper-slide {
        width: 100% !important;
    }
}

@media (max-width: 356px) {
    .Service-Container .swiper .swiper-wrapper .swiper-slide {
        width: 100% !important;
        overflow: hidden;
    }
}

@media screen and (max-width:760px) {
    .Section .cards .card {
        flex-basis: calc(100%);  
    }
}
@media screen and (max-width:386px){
    .Section .cards .card>.img{
        width: 13% !important; 
        height: 8vh !important;
    }
    .Section .cards .card .text-content{
        margin: -16% 0 0 22%;
    }}




/* Contact  */
@media screen and (max-width:786px) {
    main {
        flex-direction: column;
    }

    .contact-form,
    .contact {
        width: 100%;
        margin-bottom: 20px;
        /* Add space between the sections */
    }
}